# This is the local environment config and should never make it into git
#+ Which could be a security riks (expose passwords)
secrets.php

# Lets not haul around unnecessary data which is pulled in with composer
/vendor/

# These extensions are installed through composer
/extensions/SemanticMediaWiki/
/extensions/SemanticWatchlist/
/extensions/SubPageList/
/extensions/Validator/
/extensions/GraphViz/
/extensions/ImageMap/
/extensions/SemanticResultFormats/
/extensions/PageForms/
/extensions/OpenLayers/

# these assest are not in version control
images
php_sessions

# emacs
\#.*#
*~
.tramp_history# Do not track secrets
nubis/cloudformation/parameters*
!nubis/cloudformation/parameters.json-dist
nubis/librarian-puppet.tar.gz
nubis/librarian-puppet
nubis/Puppetfile.lock
nubis/.tmp
nubis/.librarian
nubis/builder/artifacts/*-dev*
nubis/terraform/terraform.tfstate*
nubis/terraform/.terraform
nubis/terraform/terraform.tfvars
nubis/builder/artifacts/*-dev/
nubis/builder/artifacts/AMIs.json

# dockerized ignores
.env
etc/ssl/*.key
etc/ssl/*.crt
etc/ssl/*.pem
etc/ssl/*.csr
