extension = 'newrelic.so'

[newrelic]

newrelic.license = '{{ getv "/config/newrelic/license_key" }}'
newrelic.logfile = '/var/log/newrelic/php_agent.log'
newrelic.appname = '{{ getv "/config/newrelic/app_name" }}'
newrelic.daemon.logfile = '/var/log/newrelic/newrelic-daemon.log'
newrelic.daemon.proxy = 'proxy.service.consul:3128'