<?php
$SECRETS_wgServer                 = '{{ getv "/config/wgServer" }}';
$SECRETS_wgDBserver               = '{{ getv "/config/Database/Server" }}';
$SECRETS_wgDBname                 = '{{ getv "/config/Database/Name" }}';
$SECRETS_wgDBuser                 = '{{ getv "/config/Database/User" }}';
$SECRETS_wgDBpassword             = '{{ getv "/config/Database/Password" }}';
$SECRETS_wgSecretKey              = '{{ getv "/config/SecretKey" }}';
$SECRETS_wgUpgradeKey             = '{{ getv "/config/UpgradeKey" }}';
{{if exists "/config/ga-account"}}
$SECRETS_wgGoogleAnalyticsAccount = '{{ getv "/config/ga-account" }}';
{{end}} 
{{if exists "/config/ga-account"}}
$SECRETS_wgMemCachedServers       = array('{{ getv "/config/Cache/Endpoint" }}:{{ getv "/config/Cache/Port" }}',);
{{end}}
$SECRETS_wgUploadDirectory       = "/var/www/wiki/images";

{{ if exists "/config/Debug" }}
# Put debug mode behind a consul flag
error_reporting( -1 );
ini_set( 'display_errors', 1 );
$wgShowExceptionDetails = true;
{{end}}
?>
