<?php
$SECRETS_wgServer                 = '{{ getv "/config/wgServer" }}';
$SECRETS_wgDBserver               = '{{ getv "/config/Database/Server" }}';
$SECRETS_wgDBname                 = '{{ getv "/config/Database/Name" }}';
$SECRETS_wgDBuser                 = '{{ getv "/config/Database/User" }}';
$SECRETS_wgDBpassword             = '{{ getv "/config/Database/Password" }}';
$SECRETS_wgSecretKey              = '{{ getv "/config/SecretKey" }}';
$SECRETS_wgUpgradeKey             = '{{ getv "/config/UpgradeKey" }}';
$SECRETS_wgReCaptchaPublicKey     = '{{ getv "/config/ReCatchpaPublicKey" }}';
$SECRETS_wgReCaptchaPrivateKey    = '{{ getv "/config/ReCatchpaPrivateKey" }}';
{{if exists "/config/ga-account"}}
$SECRETS_wgGoogleAnalyticsAccount = '{{ getv "/config/ga-account" }}';
{{end}} 
#$SECRETS_wgSquidServers           = array('192.168.1.1', '192.168.1.2');
#$SECRETS_wgMemCachedServers       = array();
$SECRETS_wgUploadDirectory       = "/var/www/$project_name/images";

# Put debug mode behind a consul flag
{{ if eq /config/Debug "true" }}
error_reporting( -1 );
ini_set( 'display_errors', 1 );
$wgShowExceptionDetails = true;
{{end}}

?>
